
/* Base Styles -------------------- */

  h2 {
    color: #878787;
    margin: 0;
    font: 2em sans-serif;
  }

  .list-group-item {
    color: #878787;
  }

  .a[href^="https"] {
    color: blue;
  }

  div p {
    color: black;
  }

  p ~ ul {
    color: white;
  }

  /* Make toolbox fit on different devices -------------------- */
@media (max-width: 500px){
  .toolbox {
    flex-direction: column;
    align-items: center;
    
  }
  .title1 {
    font-size: 50px;
  }
  .toolbox .btn {
    font-size: 16px !important;
  }
}

p {
  word-wrap: break-word;

}
.tipandtrick {
  flex-direction: column;
  align-items: center;
  max-width: 250px;
  max-height: 200px;
}
